@use "reset.scss";
@use "fonts.scss";
@use "./header/header.scss";
@use "./homepage/homepage.scss";

$black: #0b0d17;
$lightBlue: #d0d6f9;
$white: #fff;

$desktop: 1440px;
$tablet: 768px;
$mobile: 575px;
body {
	font-family: Barlow, sans-serif;
	background-color: $black;
	height: 100%;
	min-height: 100vh;
	color: #fff;
	overflow-y: hidden;
	overflow-x: hidden;
}

.container {
	width: 100%;
	padding: 0 165px;
	margin: 0 auto;

	@media screen and (max-width: $tablet) {
		padding: 0 97px;
	}

	@media screen and (max-width: $mobile) {
		padding: 0 24px;
	}
}

@mixin backgroundMixin {
	background-size: cover;
	background-repeat: no-repeat;

	@media screen and (max-width: calc($tablet + 300px)) {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top;

		overflow-y: visible;
	}
}

.home-page {
	@include backgroundMixin;
	background-image: url("/assets/home/background-home-desktop.jpg");

	@media screen and (max-width: calc($tablet + 200px)) {
		background-image: url("/assets/home/background-home-tablet.jpg");
	}

	@media screen and (max-width: $mobile) {
		background-image: url("/assets/home/background-home-mobile.jpg");
	}
}

.destination-page {
	@include backgroundMixin;
	background-image: url("/assets/destination/background-destination-desktop.jpg");

	@media screen and (max-width: calc($tablet + 200px)) {
		background-image: url("/assets/destination/background-destination-tablet.jpg");
	}

	@media screen and (max-width: $mobile) {
		background-image: url("/assets/destination/background-destination-mobile.jpg");
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Bellefair, sans-serif;
	text-transform: uppercase;
	color: $white;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	white-space: nowrap;
}

h1 {
	font-size: 150px;
}

h2 {
	font-size: 100px;
}

h3 {
	font-size: 56px;
}
h4 {
	font-size: 32px;
}

h5 {
	font-size: 28px;
	letter-spacing: 4.75px;
	color: $lightBlue;
}

@media screen and (max-width: $mobile) {
	h5 {
		font-size: 16px;
		line-height: normal;
		letter-spacing: 2.7px;
	}
	h1 {
		margin-top: 17px;
		font-size: 100px;
	}

	h2 {
		font-size: 56px;
	}
	p {
		font-size: 15px;
	}
}

.sub-h1 {
	font-size: 28px;
	color: $white;
	text-transform: uppercase;

	font-family: "Barlow";
	font-weight: 400;
	letter-spacing: 4.725px;
}

.sub-h2 {
	font-size: 14px;
	letter-spacing: 2.35px;
	text-transform: uppercase;
}

.sub-h1__num {
	opacity: 0.25;
	font-weight: 700;
}

.destination {
	margin-top: 76px;
}

.tab__box {
	margin-right: 163.5px;
	padding-top: 64px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 285.6px;

	@media screen and (max-width: calc($tablet + 300px)) {
		& {
			margin-right: 0;
		}
	}
}
.tab--btn {
	color: $lightBlue;
	text-transform: uppercase;
	font-family: "Barlow";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 2.7px;

	padding-bottom: 15px;
	border-bottom: 3px solid transparent;

	transition: border-bottom 0.3s ease-in-out;
}

.tab--btn.active {
	color: $white;
	border-bottom: 3px solid $white;
}

.tab--btn:not(.tab--btn.active):hover {
	border-bottom: 3px solid rgba(255, 255, 255, 0.5021);
}

.tab__content {
	display: none;
	justify-content: space-between;
}

.tab__content.active {
	display: flex;

	@media screen and (max-width: calc($tablet + 300px)) {
		& {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
}

@keyframes moving {
	from {
		transform: translateX(150%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes emergency {
	from {
		opacity: 0;
		transform: translateY(150%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.planet--preview {
	max-width: 678px;
	animation: emergency 0.7s ease-in-out;
	& img {
		max-width: 100%;
		margin: 0 auto;
	}

	@media screen and (max-width: calc($tablet + 300px)) {
		& {
			margin-top: 30px;
		}
	}
}

.planet--info {
	margin: 37px 0 0 20px;
	max-width: 445px;
	animation: moving 0.5s ease-in-out;

	& p {
		color: $lightBlue;
	}
	& > p {
		line-height: 32px;
		font-size: 18px;
		padding-bottom: 54px;
		border-bottom: 1px solid #383b4b;
	}

	@media screen and (max-width: calc($tablet + 300px)) {
		& {
			max-width: 100%;
			margin-left: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			text-align: center;
			padding-bottom: 30px;
		}
	}
}

.info__distance,
.info__travelTime {
	display: inline-block;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 28px;
	& span {
		font-family: "Bellefair";
		font-size: 28px;
	}
	@media screen and (max-width: calc($mobile)) {
		& {
			display: block;
			width: 100%;
		}
	}
}

.info__distance {
	margin-right: 79px;

	@media screen and (max-width: calc($mobile)) {
		& {
			margin-right: 0;
		}
	}
}
