/* Reset all margins and paddings */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 32px;
  font-size: 18px;
}

/* Reset default list styles */
ul, ol {
  list-style: none;
}

li {
  padding: 0;
  margin: 0;
}

/* Reset default link styles */
a {
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

/* Reset default button styles */
button {
  border: none;
  background: none;
  cursor: pointer;
}

/* Add any additional reset styles here */
@font-face {
  font-family: "Barlow";
  font-weight: 400;
  src: url("/fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Barlow";
  font-weight: 700;
  src: url("/fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Bellefair";
  font-weight: 400;
  src: url("/fonts/Bellefair/Bellefair-Regular.ttf") format("truetype");
}
.header {
  margin-top: 40px;
  width: 100%;
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header {
    margin-top: 0;
  }
}

.header__logo {
  margin-left: 55px;
}
.header__logo a {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header__logo {
    margin-left: 39px;
  }
}
@media screen and (max-width: 575px) {
  .header__logo {
    margin-left: 15px;
  }
}

.nav {
  background: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(40.7742271423px);
          backdrop-filter: blur(40.7742271423px);
  max-width: 830px;
  width: 100%;
  margin-left: 50px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .nav {
    max-width: 450px;
  }
}
@media screen and (max-width: 575px) {
  .nav .nav__burger {
    position: absolute;
    top: -10px;
    right: 30px;
    max-width: 24px;
    width: 24px;
    height: 21px;
    border-top: 3px solid #d0d6f9;
    cursor: pointer;
  }
  .nav .nav__burger::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 3px;
    background-color: #d0d6f9;
    right: 0;
    top: 6px;
    z-index: 10;
  }
  .nav .nav__burger::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 3px;
    background-color: #d0d6f9;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
  .nav > .nav__menu {
    display: none;
  }
  .nav.menu-open {
    margin-left: 0;
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 0;
    border: none;
    max-width: 254px;
    height: 100%;
    z-index: 10;
  }
  .nav.menu-open .nav__burger {
    top: 50px;
    border: none;
  }
  .nav.menu-open .nav__burger::before {
    rotate: -45deg;
    top: 0;
    width: 30px;
  }
  .nav.menu-open .nav__burger::after {
    rotate: 45deg;
    top: 0;
    width: 30px;
  }
  .nav.menu-open > .nav__menu {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    padding: 0;
    margin: 118px 0 0 32px;
  }
  .nav.menu-open > .nav__menu > .nav__item {
    padding: 0;
    margin-right: 0;
    margin-bottom: 32px;
    width: 100%;
    border-right: 3px solid transparent;
    border-bottom: none;
  }
  .nav.menu-open > .nav__menu > .nav__item:last-child {
    margin-bottom: 0;
  }
  .nav.menu-open > .nav__menu > .nav__item.active {
    border-bottom: none;
    border-right: 3px solid #fff;
  }
  .nav.menu-open > .nav__menu > .nav__item:hover {
    border-bottom: none;
    border-right: 3px solid #d0d6f9;
  }
  .nav.menu-open > .nav__menu > .nav__item span {
    display: inline;
  }
}
@media screen and (max-width: 475px) {
  .nav.menu-open {
    max-width: 180px;
  }
}

.nav__menu {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.nav__menu::before {
  content: "";
  display: block;
  width: 473px;
  margin-left: 50px;
  height: 1px;
  opacity: 0.2515;
  background: #fff;
  position: absolute;
  left: -100%;
  transform: translateX(-20%);
  top: 50%;
  z-index: 2;
}
@media screen and (max-width: 1440px) {
  .nav__menu::before {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .nav__menu {
    font-size: 14px;
    padding: 0 48px;
  }
}

.nav-text {
  font-size: 16px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  white-space: nowrap;
}

.nav__item {
  padding: 30px 0;
  border-bottom: 3px solid transparent;
  margin-right: 50px;
  transition: border-bottom 0.3s ease-in-out;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__item span {
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .nav__item {
    margin-right: 37px;
  }
  .nav__item span {
    display: none;
  }
}

.nav__item.active {
  border-bottom: 3px solid #fff;
}

.nav__item:not(.nav__item.active):hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5021);
}

.main {
  margin-top: 251px;
  width: 100%;
}
.main .main__btn {
  margin-top: 108px;
  width: 274px;
  height: 274px;
  border-radius: 100%;
  background-color: #fff;
  color: #0b0d17;
  font-family: Bellefair, sans-serif;
  font-size: 32px;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  .main .main__btn {
    margin-top: 156px;
    width: 242px;
    height: 242px;
  }
}
@media screen and (max-width: 575px) {
  .main .main__btn {
    margin-top: 81px;
    width: 150px;
    height: 150px;
    font-size: 20px;
    letter-spacing: 1.25px;
  }
}
.main .main__btn:hover {
  box-shadow: 0px 0px 0 88px rgba(255, 255, 255, 0.1036);
}
@media screen and (max-width: 1068px) {
  .main {
    margin-top: 106px;
  }
}

.main__content {
  display: flex;
  justify-content: space-between;
}
.main__content .content__text {
  max-width: 450px;
  margin-right: 30px;
}
.main__content .content__text h5 {
  font-family: Barlow, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main__content .content__text p {
  font-size: 18px;
  color: #d0d6f9;
}
@media screen and (max-width: 1068px) {
  .main__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .main__content .content__text {
    width: 100%;
    margin-right: 0;
  }
  .main__content .content__text p {
    font-size: 16px;
    line-height: 28px;
  }
}

body {
  font-family: Barlow, sans-serif;
  background-color: #0b0d17;
  height: 100%;
  min-height: 100vh;
  color: #fff;
  overflow-y: hidden;
  overflow-x: hidden;
}

.container {
  width: 100%;
  padding: 0 165px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 97px;
  }
}
@media screen and (max-width: 575px) {
  .container {
    padding: 0 24px;
  }
}

.home-page {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/assets/home/background-home-desktop.jpg");
}
@media screen and (max-width: 1068px) {
  .home-page {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    overflow-y: visible;
  }
}
@media screen and (max-width: 968px) {
  .home-page {
    background-image: url("/assets/home/background-home-tablet.jpg");
  }
}
@media screen and (max-width: 575px) {
  .home-page {
    background-image: url("/assets/home/background-home-mobile.jpg");
  }
}

.destination-page {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/assets/destination/background-destination-desktop.jpg");
}
@media screen and (max-width: 1068px) {
  .destination-page {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    overflow-y: visible;
  }
}
@media screen and (max-width: 968px) {
  .destination-page {
    background-image: url("/assets/destination/background-destination-tablet.jpg");
  }
}
@media screen and (max-width: 575px) {
  .destination-page {
    background-image: url("/assets/destination/background-destination-mobile.jpg");
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Bellefair, sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
}

h1 {
  font-size: 150px;
}

h2 {
  font-size: 100px;
}

h3 {
  font-size: 56px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 28px;
  letter-spacing: 4.75px;
  color: #d0d6f9;
}

@media screen and (max-width: 575px) {
  h5 {
    font-size: 16px;
    line-height: normal;
    letter-spacing: 2.7px;
  }
  h1 {
    margin-top: 17px;
    font-size: 100px;
  }
  h2 {
    font-size: 56px;
  }
  p {
    font-size: 15px;
  }
}
.sub-h1 {
  font-size: 28px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Barlow";
  font-weight: 400;
  letter-spacing: 4.725px;
}

.sub-h2 {
  font-size: 14px;
  letter-spacing: 2.35px;
  text-transform: uppercase;
}

.sub-h1__num {
  opacity: 0.25;
  font-weight: 700;
}

.destination {
  margin-top: 76px;
}

.tab__box {
  margin-right: 163.5px;
  padding-top: 64px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 285.6px;
}
@media screen and (max-width: 1068px) {
  .tab__box {
    margin-right: 0;
  }
}

.tab--btn {
  color: #d0d6f9;
  text-transform: uppercase;
  font-family: "Barlow";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.7px;
  padding-bottom: 15px;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.3s ease-in-out;
}

.tab--btn.active {
  color: #fff;
  border-bottom: 3px solid #fff;
}

.tab--btn:not(.tab--btn.active):hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5021);
}

.tab__content {
  display: none;
  justify-content: space-between;
}

.tab__content.active {
  display: flex;
}
@media screen and (max-width: 1068px) {
  .tab__content.active {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@keyframes moving {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes emergency {
  from {
    opacity: 0;
    transform: translateY(150%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.planet--preview {
  max-width: 678px;
  animation: emergency 0.7s ease-in-out;
}
.planet--preview img {
  max-width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1068px) {
  .planet--preview {
    margin-top: 30px;
  }
}

.planet--info {
  margin: 37px 0 0 20px;
  max-width: 445px;
  animation: moving 0.5s ease-in-out;
}
.planet--info p {
  color: #d0d6f9;
}
.planet--info > p {
  line-height: 32px;
  font-size: 18px;
  padding-bottom: 54px;
  border-bottom: 1px solid #383b4b;
}
@media screen and (max-width: 1068px) {
  .planet--info {
    max-width: 100%;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 30px;
  }
}

.info__distance,
.info__travelTime {
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 28px;
}
.info__distance span,
.info__travelTime span {
  font-family: "Bellefair";
  font-size: 28px;
}
@media screen and (max-width: 575px) {
  .info__distance,
  .info__travelTime {
    display: block;
    width: 100%;
  }
}

.info__distance {
  margin-right: 79px;
}
@media screen and (max-width: 575px) {
  .info__distance {
    margin-right: 0;
  }
}