@keyframes moving {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes emergency {
  from {
    opacity: 0;
    transform: translateY(150%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.destination {
  margin-top: 76px;
  width: 100%;
}

.destination__content {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1068px) {
  .destination__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.tab__box {
  margin-right: 163.5px;
  padding-top: 64px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 285.6px;
}
@media screen and (max-width: 1068px) {
  .tab__box {
    margin-right: 0;
  }
}

.tab--btn {
  color: #d0d6f9;
  text-transform: uppercase;
  font-family: "Barlow";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.7px;
  padding-bottom: 15px;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.3s ease-in-out;
}
@media screen and (max-width: 575px) {
  .tab--btn {
    font-size: 14px;
  }
}

.tab--btn.active {
  color: #fff;
  border-bottom: 3px solid #fff;
}

.tab--btn:not(.tab--btn.active):hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5021);
}

.tab__content {
  display: none;
  justify-content: space-between;
}

.tab__content.active {
  display: flex;
}
@media screen and (max-width: 1068px) {
  .tab__content.active {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.planet--preview {
  max-width: 678px;
  animation: emergency 0.7s ease-in-out;
}
.planet--preview img {
  max-width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1068px) {
  .planet--preview {
    margin-top: 30px;
  }
}

.planet--info {
  margin: 37px 0 0 20px;
  max-width: 445px;
  animation: moving 0.5s ease-in-out;
}
.planet--info p {
  color: #d0d6f9;
}
.planet--info > p {
  line-height: 32px;
  font-size: 18px;
  padding-bottom: 54px;
  border-bottom: 1px solid #383b4b;
}
@media screen and (max-width: 1068px) {
  .planet--info {
    max-width: 100%;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 30px;
    animation-duration: 0.8s;
  }
}

.info__distance,
.info__travelTime {
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 28px;
}
.info__distance span,
.info__travelTime span {
  font-family: "Bellefair";
  font-size: 28px;
}
@media screen and (max-width: 575px) {
  .info__distance,
  .info__travelTime {
    display: block;
    width: 100%;
  }
}

.info__distance {
  margin-right: 79px;
}
@media screen and (max-width: 575px) {
  .info__distance {
    margin-right: 0;
  }
}