---
import { type HeaderProps, type NavData } from "./Header.types";

const nav: NavData[] = [
	{ name: "Home", href: "/" },
	{ name: "Destination", href: "/destination" },
	{ name: "Crew", href: "/crew" },
	{ name: "Technology", href: "/technology" },
];

const { activeEl } = Astro.props as HeaderProps;
---

<header class="header">
	<div class="header__logo">
		<a href="#">
			<img src="assets/shared/logo.svg" alt="logo" />
		</a>
	</div>

	<nav class="nav">
		<div class="nav__burger"></div>
		<ul class="nav__menu nav-text">
			{
				nav.map((item, index) => {
					return (
						<li class={`nav__item ${activeEl === index ? "active" : ""}`}>
							<a href={item.href}>
								<span>0{index + 1}</span> {` ${item.name}`}
							</a>
						</li>
					);
				})
			}
		</ul>
	</nav>
</header>
