.main {
  margin-top: 251px;
  width: 100%;
}
.main .main__btn {
  margin-top: 108px;
  width: 274px;
  height: 274px;
  border-radius: 100%;
  background-color: #fff;
  color: #0b0d17;
  font-family: Bellefair, sans-serif;
  font-size: 32px;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  .main .main__btn {
    margin-top: 156px;
    width: 242px;
    height: 242px;
  }
}
@media screen and (max-width: 575px) {
  .main .main__btn {
    margin-top: 81px;
    width: 150px;
    height: 150px;
    font-size: 20px;
    letter-spacing: 1.25px;
  }
}
.main .main__btn:hover {
  box-shadow: 0px 0px 0 88px rgba(255, 255, 255, 0.1036);
}
@media screen and (max-width: 1068px) {
  .main {
    margin-top: 106px;
  }
}
@media screen and (max-width: 575px) {
  .main {
    margin-top: 58px;
  }
}

.main__content {
  display: flex;
  justify-content: space-between;
}
.main__content .content__text {
  max-width: 450px;
  margin-right: 30px;
}
.main__content .content__text h5 {
  font-family: Barlow, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main__content .content__text p {
  font-size: 18px;
  color: #d0d6f9;
}
@media screen and (max-width: 1068px) {
  .main__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .main__content .content__text {
    width: 100%;
    margin-right: 0;
  }
  .main__content .content__text p {
    font-size: 16px;
    line-height: 28px;
  }
}