---
import Header from "../components/Header.astro";


interface Props {
	title: string
}

const {title = "Space Tourism"} = Astro.props as Props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/public/favicon.ico" />
		<link rel="stylesheet" href="src/styles/main.css" />
		
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
	</head>
	
	<body class="home-page">
   
	<Header/>

	<slot/>

    <footer></footer>
    <script src="/src/scripts/script.js"></script>
	</body>

</html>