---
import Header from "../components/Header.astro";

interface Props {
	title: string;
	bgImageClass: string;
	activeNav: number;
}

const {
	title = "Space Tourism",
	bgImageClass = "home-page",
	activeNav = 0,
} = Astro.props as Props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/public/favicon.ico" />
		<link rel="stylesheet" href="src/styles/main.css" />

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
	</head>

	<body class={bgImageClass}>
		<Header activeEl={activeNav} />

		<slot />

		<footer></footer>
		<script src="/src/scripts/script.js"></script>
	</body>
</html>
